.card {
    border: none;
    border-radius: 5px;
    width: 100%;
    height: auto;
    position: relative;
    top: 5%;
    left: 50%;
    background: linear-gradient(180deg, #212529, #212529);
  
  
  }
  
  h1,
  label {
    color: #FFFFFF;
  }
  
  h6,
  strong {
    color: #be0303;
  }
  
  a {
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 20px;
    margin-bottom: 10px;
  }